/**
* Transition utilities
*
* naming convention: gl-transition-{speed}
*/
@mixin gl-transition-property-border-color {
  transition-property: border-color;
}

@mixin gl-transition-property-width {
  transition-property: width;
}

@mixin gl-transition-property-stroke {
  transition-property: stroke;
}

@mixin gl-transition-property-stroke-opacity {
  transition-property: stroke-opacity;
}

@mixin gl-transition-duration-slow {
  transition-duration: $gl-transition-duration-slow;
}

@mixin gl-transition-duration-medium {
  transition-duration: $gl-transition-duration-medium;
}

@mixin gl-transition-timing-function-ease {
  transition-timing-function: ease;
}

@mixin gl-transition-slow {
  transition: all $gl-transition-duration-slow ease;
}

@mixin gl-transition-medium {
  transition: all $gl-transition-duration-medium ease;
}
